/*页脚版权信息*/
.push{
  height: 60px;
  clear:both;
}
.frame_Container{
   width: 80%;
   background-color: #fafafa;
   min-height:100%;
   height:auto!important;
   height:100%;
   margin:0 auto -60px;/*margin-bottom的负值等于footer高度*/
}
.copyright{
  width: 100%;
  background:#d0021b;
  font-size:13px;
  text-align:center;
  color:#fff;
  height:70px;
  clear:both;
  padding-top: 25px;
}
.copyright p{
  text-align: center;

}
/*.copyright .container{
  padding-top: 16px;
  width:100%;
  height: 60px;
}*/
/*---页脚版权信息end---*/


body{
  background:#fafafa;
}
html,body{
  height:100%;
  margin:0;
  padding:0;
}
/*set html font*/
body{
    font-family:
    "SimHei",
    "STHeiti Light",
    "微软雅黑",
    "Microsoft YaHei",
    Helvetica,
    "ff-tisa-web-pro-1",
    "ff-tisa-web-pro-2",
    "Lucida Grande",
    "Helvetica Neue",
    Arial,
    "Hiragino Sans GB",
    "Hiragino Sans GB W3",
    "WenQuanYi Micro Hei",
    sans-serif
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,h6,p,span{
    font-family:
    "SimHei",
    "STHeiti Light",
    "微软雅黑",
    "Microsoft YaHei",
    Helvetica,
    "ff-tisa-web-pro-1",
    "ff-tisa-web-pro-2",
    "Lucida Grande",
    "Helvetica Neue",
    Arial,
    "Hiragino Sans GB",
    "Hiragino Sans GB W3","WenQuanYi Micro Hei",
    sans-serif
}

/*IE兼容*/
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
