<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
    		<title>错误页面</title>
    		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css">

    		<style>
    		body {
			  padding: 50px;
			  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
			}

			a {
			  color: #00B7FF;
			}
    		</style>
  	</head>
  
  	<body>
		<div class="container">
			<div>
				<h2 class="page-header"><%= title %>&nbsp;&nbsp;<small><%= message %></small></h2>
				<div class="btn-group" role="group">
					 <a class="btn btn-default" href="/admin_login/">Home</a>
				</div>
			</div>
		</div>
  	</body>
</html>
